<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8181/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="ServiceReference1.ICustomerService" name="BasicHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>